#fastapi~=0.115.12 
#uvicorn
#sqlalchemy~=2.0.40
#python-dotenv~=1.1.0
#pymysql
#pydantic~=2.11.4
#passlib~=1.7.4
#httpx~=0.28.1
#cachetools~=5.5.2
#slowapi~=0.1.9
#starlette~=0.46.2
#utils~=1.0.2
#config~=0.5.1